<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />

    <script type="text/javascript">

        const allCustStr = JSON.parse('<%- custStr %>');

        //auto expand textarea
        function adjust_textarea(h) {
            h.style.height = "20px";
            h.style.height = (h.scrollHeight) + "px";
        }

        //sorts a list
        function sortList(item) {
            var list, i, switching, b, shouldSwitch;
            list = document.getElementById(item);
            switching = true;
            while (switching) {
                switching = false;
                b = list.getElementsByTagName("option");
                for (i = 0; i < (b.length - 1); i++) {
                    shouldSwitch = false;
                    if (b[i].innerHTML.toLowerCase() > b[i + 1].innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    b[i].parentNode.insertBefore(b[i + 1], b[i]);
                    switching = true;
                }
            }
        }

        //populates form 1 with selected customer data
        function showDetails() {
            var selection = document.getElementById('customersList').value;
            allCustStr.objects.forEach(e => {
                if (selection == e.name) {
                    document.getElementById("name").value = e.name;
                    document.getElementById("address").value = e.address;
                    document.getElementById("phone").value = e.phone;
                    document.getElementById("notes").value = e.notes;
                }
            });
            showRelProjects();
            document.getElementById("name").disabled = true;
        }

        function showRelProjects() {
            var selection = document.getElementById('customersList').value;
            var proList = document.getElementById("projectsList");
            //clear the list before added new options
            clearList(proList);

            allCustStr.objects.forEach(e => {
                if (selection == e.name && e.relProjects) {
                    for (let i = 0; i < e.relProjects.length; i++) {
                        proList.options[proList.options.length] = new Option(e.relProjects[i]);
                    }
                    return;
                }
            });
            sortList("projectsList");
        }

        function clearList(sel) {
            var i, length = sel.options.length;
            for (i = length; i >= 0; i--) {
                sel.remove(i);
            }
        }

        //returns false if no customer is selected, or user hits cancel on 'confirm' dialog
        /*
        function checkSelection() {
            document.getElementById('name').disabled = false;
            document.getElementById('projectsList').disabled = false;
            var list = document.getElementById('customersList')
            var index = list.selectedIndex;
            if (index == -1) {
                return false;
            } else {
                return confirm('Are you sure you want to delete \"' + list.value + '\"?');
            }
        }
        */

        //returns false if no customer is selected, or user hits cancel on 'confirm' dialog
        function checkDeletable() {
            var list = document.getElementById('customersList')
            var rel = document.getElementById('projectsList')
            var index = list.selectedIndex;
            //check if a material is selected
            if (index == -1) {
                return false;
            }
            //next, check if there are related projects
            if (rel.length != 0) {
                alert('This material is being used in a project and can\'t be deleted');
                return false;
            }
            //these elements get enabled so their data gets POSTed
            document.getElementById('name').disabled = false;
            document.getElementById('projectsList').disabled = false;
            return confirm('Are you sure you want to delete \"' + list.value + '\"?');
        }
        
        function clearform() {
            document.getElementById("form1").reset();
            document.getElementById("customersList").selectedIndex = -1;
            document.getElementById("name").disabled = false;
            clearList(document.getElementById('projectsList'));
        }

        function selectHack() {
            document.getElementById('name').disabled = false;
            document.getElementById('projectsList').disabled = false;
            var ls = document.getElementById('projectsList');
            for (let i = 0; i < ls.options.length; i++) {
                console.log('select ' + i)
                ls.options[i].selected = true;
            }
            
        }

    </script>

</head>

<body>

    <h1><%= title %></h1>
    <% include  templates/header.ejs%>

    <!-- Column 1 -->
    <div id="row1" class="forms">
    <div id="leftDiv">
        <br>
        <br>
        <ul>
            <select class="box" id="customersList" size="999" onkeyup="showDetails()" onclick="showDetails()"
                style="height: 358px">
                <% allCustomers.objects.forEach(function(item){ %>
                <option value="<%= item.name %>"> <%= item.name %> </option>
                <% });%>
            </select>

            <input type="button" value="New" style="float: right;" onclick="clearform()">
        </ul>
    </div>

    <!-- Column 2 -->
    <form id="form1" class="forms" method="POST">
    <div id="centerDiv" style="margin-top: -17px;">
        <h1> Details </h1>
        <ul>
            <li>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" maxlength="30">
            </li>
            <li>
                <label for="address">Address</label>
                <input type="text" name="address" id="address" maxlength="30">
            </li>
            <li>
                <label for="phone">Phone</label>
                <input type="text" name="phone" id="phone" maxlength="12">
            </li>
            <h1> Associated Projects </h1>
            <select class="box" id="projectsList" name="relProjects" size="999" style="height: 105px"
                multiple="multiple" disabled>
            </select>
            <li>
                <label for="notes">Notes</label>
                <textarea name="notes" id="notes" maxlength="300" onkeyup="adjust_textarea(this)"></textarea>
            </li>
            <input type="submit" value="Submit" onclick="selectHack()"
                formaction="/customers/submitted">
            <input type="submit" value="Delete Customer"  onclick="return checkDeletable()"
                formaction="/customers/deleted" style="float: right;">
        </ul>
    </div>
    </div>
    </form>
    <script>
        sortList("customersList");
    </script>
</body>

</html>