<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script type="text/javascript">

        const allProStr = JSON.parse('<%- proStr %>');

        //auto expand textarea
        function adjust_textarea(h) {
            h.style.height = "20px";
            h.style.height = (h.scrollHeight) + "px";
        }

        //populates form 1 with selected material data
        function showDetails() {
            var selection = document.getElementById('projectsList').value;
            allProStr.objects.forEach(e => {
                if (selection == e.name) {
                    document.getElementById("name").value = e.name;
                    document.getElementById("notes").value = e.notes;
                    document.getElementById("proType").value = e.type;
                    //TODO
                    document.getElementById("customer").value = e.customer;


                }
            });
            showRelMaterials();
            sortList("usingList");
        }

        //populates "materials used" select
        function showRelMaterials() {
            var selection = document.getElementById('projectsList').value;
            var matList = document.getElementById("usingList");
            //clear the list before added new options
            clearList(matList);
            allProStr.objects.forEach(e => {
                if (selection == e.name) {
                    for (let i = 0; i < e.relMaterials.length; i++) {
                        matList.options[matList.options.length] = new Option(e.relMaterials[i], i);
                    }
                    return;
                }
            });

        }

        //filters the list of all materials
        function filter(search) {
            var select = document.getElementById("materialsList");
            for (var i = 0; i < select.length; i++) {
                var txt = select.options[i].text;
                var include = txt.toLowerCase().startsWith(search.toLowerCase());
                select.options[i].style.display = include ? 'list-item' : 'none';
            }
            document.getElementById('materialsList').selectedIndex = -1;
        }

        //sorts a list
        function sortList(item) {
            var list, i, switching, b, shouldSwitch;
            list = document.getElementById(item);
            switching = true;
            while (switching) {
                switching = false;
                b = list.getElementsByTagName("option");
                for (i = 0; i < (b.length - 1); i++) {
                    shouldSwitch = false;
                    if (b[i].innerHTML.toLowerCase() > b[i + 1].innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    b[i].parentNode.insertBefore(b[i + 1], b[i]);
                    switching = true;
                }
            }
        }

        function clearList(sel) {
            var i, length = sel.options.length;
            for (i = length; i >= 0; i--) {
                sel.remove(i);
            }
        }

        function addMat() {
            var doc = document.getElementById('materialsList');
            var selection = doc.value;
            if (doc.selectedIndex == -1) {
                return;
            }
            var usingList = document.getElementById('usingList');
            var option = document.createElement("option");
            option.text = selection;
            usingList.add(option);
        }

        function removeMat() {
            var sel = document.getElementById('usingList');
            if (sel.selectedIndex == -1) {
                return;
            }
            sel.remove(sel.selectedIndex);
            sel.selectedIndex = 0;
        }

        clearForms = function () {
            document.getElementById("form1").reset();
            clearList(document.getElementById('usingList'));
        }

        //returns false if no material is selected, or user hits cancel on 'confirm' dialog
        function checkSelection() {
            var list = document.getElementById('projectsList')
            var index = list.selectedIndex;
            if (index == -1) {
                return false;
            } else {
                return confirm('Are you sure you want to delete \"' + list.value + '\"?');
            }
        }

        function selectHack() {
            var ls = document.getElementById('usingList');
            for (let i = 0; i < ls.options.length; i++) {
                ls.options[i].selected = true;
            }
        }
    </script>

</head>

<body>

    <h1><%= title %></h1>
    <% include  templates/header.ejs%>

    <!-- Column 1 -->
    <!-- The form has 2 submit buttons, 1 to delete, 1 to save, so the action
            is defined on each button-->
    <form class="forms" id="form1" method="POST">
        <div id="row1">
            <div id="leftDiv">
                <h1> Details </h1>
                <ul>
                    <li>
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" maxlength="30">
                    </li>
                    <li>
                        <label for="projectsType">Type</label>
                        <select id="proType" name="type">
                            <% for(let i = 0; i < types.length; i++) { %>
                            <option value="<%= types[i] %>"><%= types[i] %></option>
                            <% } %>
                        </select>
                    </li>
                    <li>
                        <label for="customer">Customer</label>
                        <select id="customer" name="customer">
                            <option value="select"></option>
                            <option value="mary">Mary</option>
                            <option value="john">John</option>
                            <option value="pete">Pete</option>
                            <option value="heather">Heather</option>
                        </select>
                    </li>
                    <li>
                        <label for="notes">Notes</label>
                        <textarea id="notes" name="notes" maxlength="300" onkeyup="adjust_textarea(this)"></textarea>
                    </li>
                    <h1> Open Projects </h1>
                    <select class="box" name="projects" id="projectsList" onclick="showDetails()" style="height: 105px"
                        size="999">
                        <% allProjects.objects.forEach(function(item){ %>
                        <option value="<%= item.name %>"> <%= item.name %> </option>
                        <% });%>
                    </select>
                    <input type="submit" value="Delete Project" onclick="return checkSelection()"
                        formaction="/editprojects/deleted">
                    <input type="button" value="Clear" onclick="clearForms()" style="float: right">
                </ul>

            </div>

            <!-- Column 2 -->
            <div id="centerDiv">
                <h1> Materials Used </h1>
                <ul>
                    <select class="box" id="usingList" name="relMaterials" size="999" style="height: 358px"
                        multiple="multiple">
                    </select>
                </ul>
                <ul>
                    <input type="submit" value="Save" onclick="selectHack()" formaction="/editprojects/submitted">
                    <input type="button" value="Remove -->" style="float: right;" onclick="removeMat()">
                </ul>
            </div>

    </form>
    <form class="forms" style="margin-top: 0px;">
        <!-- Column 3 -->
            <h1> Choose Materials </h1>
            <ul>
                <li>
                    <label for="search">Filter</label>
                    <input type="text" id="search" maxlength="30" onkeyup="filter(this.value)">
                </li>
                <select class="box" id="materialsList" style="height: 303px" size="999">
                    <% allMaterials.objects.forEach(function(item){ %>
                    <option value="<%= item.name %>"> <%= item.name %> </option>
                    <% });%>
                </select>
                <input type="button" value="<-- Add" style="float: left;" onclick="addMat()">
            </ul>
        </div>
    </form>

    <script>
        sortList("materialsList");
        sortList("projectsList");
        sortList("usingList"); 
    </script>

</body>

</html>