<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='stylesheets/style.css'>

    <script type="text/javascript">
        //auto expand textarea
        function adjust_textarea(h) {
            h.style.height = "20px";
            h.style.height = (h.scrollHeight) + "px";
        }
        
        // filters the list of materials
        // read more on this: https://codereview.stackexchange.com/questions/140420/filter-options-of-select-box-using-input-box-value
        function filter(search) {
            var select = document.getElementById("materialsList");
            for (var i = 0; i < select.length; i++) {
                var txt = select.options[i].text;
                var include = txt.toLowerCase().startsWith(search.toLowerCase());
                select.options[i].style.display = include ? 'list-item':'none';
            }
        }

        //sorts a list
        function sortList(item) {
            var list, i, switching, b, shouldSwitch;
            list = document.getElementById(item);
            switching = true;
            while (switching) {
                switching = false;
                b = list.getElementsByTagName("option");
                for (i = 0; i < (b.length - 1); i++) {
                    shouldSwitch = false;
                    if (b[i].innerHTML.toLowerCase() > b[i + 1].innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    b[i].parentNode.insertBefore(b[i + 1], b[i]);
                    switching = true;
                }
            }
        }

        //returns false if no material is selected, or user hits cancel on 'confirm' dialog
        function checkSelection(){
            var index = document.getElementById('materialsList').selectedIndex;
            if(index == -1){
                return false;
            } else {
                return confirm('Are you sure?');
            }
        }

    </script>
</head>

<body>
    <!-- The following notation is .ejs specific.  should look into utilizing this more-->
    <h1><%= title %></h1>
    <% include  templates/header.ejs%>
    <br>

    <!-- the header is no-wrapped
            each "column" is grouped as a "form" and each form is floated left 
            so their elements wrap together
        -->

    <!-- Column 1 -->
    <form class="forms" method="POST" action="/materials/submitted">
        <h1> Details </h1>
        <ul>
            <li>
                <label for="name">Name</label>
                <input type="text" name="name" maxlength="30">
            </li>
            <li>
                <!-- this select isn't being captured on post-->
                <label for="type">Type</label>
                    <select name="materialType" id="type" >
                        <% for(let i = 0; i < types.length; i++) { %>
                            <option value="<%= types[i] %>"><%= types[i] %></option>
                        <% } %>
                  </select>
            </li>
            <li>
                <!--
                        maxlength doesn't work for number fields, so the script in those fields
                        limits input to defined maxlength
                    -->
                <label for="qty">Quantity in stock</label>
                <input type="number" name="qty" maxlength="3" min="0" max="999" oninput="javascript: 
                    if (this.value.length > 3) this.value = this.value.slice(0, this.maxLength);">
            </li>
            <li>
                <label for="qtyUsed">Quantity in use</label>
                <input type="number" name="qtyUsed" maxlength="3" min="0" max="999" oninput="javascript: 
                    if (this.value.length > 3) this.value = this.value.slice(0, this.maxLength);">
            </li>
            <li>
                <label for="qtyAvail">Quantity Available</label>
                <input type="number" name="qtyAvail" maxlength="3" min="0" max="999" oninput="javascript: 
                    if (this.value.length > 3) this.value = this.value.slice(0, this.maxLength);">
            </li>
            <li>
                <label for="cost">Cost</label>
                <input type="number" name="cost" step="0.01" maxlength="3" min="0.01" max="999">
            </li>
            <li>
                <label for="extcost">Extended Cost</label>
                <input type="number" name="extcost" step="0.01" maxlength="3" min="0.01" max="999">
            </li>
            <li>
                <label for="notes">Notes</label>
                <textarea name="notes" onkeyup="adjust_textarea(this)"></textarea>
            </li>
            <li>
                <input type="submit" value="Submit">
                <input type="reset" value="Clear" />
            </li>
        </ul>
    </form>

    <!-- Column 2 -->
    <form class="forms" method="POST" action="/materials/deleted">
        <h1> Search </h1>
        <ul>
            <li>
                <label for="search">Filter</label>
            <input type="text" id="search" maxlength="30" onkeyup="filter(this.value)">       
            </li>
            <!-- loops through all materials, lists in selection box -->
            <select class="box" id="materialsList" size="999" style="height: 260px">
                <% allMaterials.materials.forEach(function(item){ %>
                <option value="<%= item.name %>"> <%= item.name %> </option>
                <% });%>
            </select>
            <li>
                <input type="submit" value="Delete Material" onclick="return checkSelection()">
            </li>
        </ul>
    </form>

    <!-- Column 3 -->
    <form class="forms">
        <h1> Related Projects </h1>
        <ul>
            <select class="box" id="projectsList" name="projects" size="999">
                <option value="project1">Project 4</option>
                <option value="project2">Project 3</option>
                <option value="project3">Project 2</option>
                <option value="project4">Project 1</option>
            </select>
        </ul>
    </form>

    <script> sortList("materialsList"); sortList("projectsList");</script>
</body>

</html>
