<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='stylesheets/style.css'>

    <script type="text/javascript">

        const allProStr = JSON.parse('<%- proStr %>');
        const allMatStr = JSON.parse('<%- matStr %>');
        const rate = 5;
        const margin = 25;

        function toggle() {
            var check = document.getElementById('check');
            console.log(check.value);
        }

        function showDetails() {
            //document.getElementById('form1').reset();

            var selection = document.getElementById('openProjects').value;
            var hours = document.getElementById("hours");
            var matCost = document.getElementById("matCost");
            var charge = document.getElementById("charge");
            var customer = document.getElementById("customer");
            var total = document.getElementById("total");
            var net = document.getElementById("net");

            allProStr.objects.forEach(e1 => {
                if (selection == e1.name) {
                    hours.value = e1.hours;
                    charge.value = e1.charge;
                    customer.value = e1.customer;

                    //calculate materials cost
                    if (e1.relMaterials) {
                        var tmp = 0;
                        allMatStr.objects.forEach(e2 => {
                            if (e1.relMaterials.includes(e2.name)) {
                                //check multiple occurrences of a meterial in a project
                                let occ = 0;
                                for (let i = 0; i < e1.relMaterials.length; i++) {
                                    if (e1.relMaterials[i] == e2.name) {
                                        occ++;
                                    }
                                }
                                tmp += (e2.cost * occ);
                            }
                        });
                        matCost.value = Math.floor(tmp * 100) / 100;


                    } else {
                        matCost.value = 0;
                    }
                    //document.getElementById("net").value = calcNet(e);
                }
            });
        }

        function calculate() {
            total.value = Math.floor((rate * hours.value) + parseInt(matCost.value));
            charge.value = Math.floor((total.value * (margin / 100)) + parseInt(total.value));
            net.value = Math.floor(charge.value - total.value);
        }

        //sorts a list
        function sortList(item) {
            var list, i, switching, b, shouldSwitch;
            list = document.getElementById(item);
            switching = true;
            while (switching) {
                switching = false;
                b = list.getElementsByTagName("option");
                for (i = 0; i < (b.length - 1); i++) {
                    shouldSwitch = false;
                    if (b[i].innerHTML.toLowerCase() > b[i + 1].innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    b[i].parentNode.insertBefore(b[i + 1], b[i]);
                    switching = true;
                }
            }
        }
    </script>
</head>

<body>
    <h1><%= title %></h1>
    <% include  templates/header.ejs%>

    <!-- Column 1 -->
    <form id="form1" class="forms" method="POST">
        <div id="row1">
            <div>
                <h1>Closed Projects</h1>
                <select class="box" id="closedProjects" name="closedProjects" size="999">
                    <% allProjects.objects.forEach(function(item){ %>
                    <% if(item.status == "closed"){ %>
                    <option value="<%= item.name %>"> <%= item.name %> </option>
                    <% }});%>
                </select>
                <input type="submit" value="Reopen Project -->" formaction="/projects/reopen"
                    style="margin-top: 20px; float: right;">
            </div>
            <!-- Column 2 -->
            <div style="margin-left: 20px;">
                <h1> Open Projects </h1>
                <select class="box" id="openProjects" name="openProjects" size="999"
                    onclick="showDetails(); calculate()" onkeyup="showDetails(); calculate()">
                    <% allProjects.objects.forEach(function(item){ %>
                    <% if(item.status == "open"){ %>
                    <option value="<%= item.name %>"> <%= item.name %> </option>
                    <% }});%>
                </select>
                <input type="submit" value="Submit" formaction="/projects/submitted"
                    style="float: right; margin-top: 20px">
                <input type="submit" value="<- Close" style="margin-top: 20px;" formaction="/projects/closed">
            </div>
            <!-- Column 3 -->
            <br>
            <div style="margin-left: 20px; margin-top: 10px">
                <ul>
                    <li>
                        <label for="customer" style="width: 160px">Customer</label>
                        <input type="text" id="customer" name="customer" maxlength="30" disabled>
                    </li>
                    <br>
                    <h1> Costs </h1>
                    <li>
                        <label for="hours">Hours</label>
                        <input type="number" id="hours" name="hours" maxlength="3" min="0" max="999" oninput="javascript: 
                    if (this.value.length > 3) this.value = this.value.slice(0, this.maxLength);" onclick="calculate()"
                            onkeyup="calculate()">
                    </li>
                    <li>
                        <label for="materialCost">Materials</label>
                        <input type="number" id="matCost" name="materialCost" step="0.01" maxlength="3" min="0.01"
                            max="999" disabled>
                    </li>
                    <li>
                        <label for="total">Total</label>
                        <input type="number" id="total" name="total" step="0.01" maxlength="3" min="0.01" max="999"
                            disabled>
                    </li>
                    <h1 style="padding-top: 5px;"> Return </h1>
                    <li>
                        <label for="charge">Charge</label>
                        <input type="number" id="charge" name="charge" step="1" maxlength="4" min="0" max="9999"
                            oninput="javascript: 
                if (this.value.length > 3) this.value = this.value.slice(0, this.maxLength);"
                            onclick="net.value = Math.floor(charge.value - total.value);">
                    </li>
                    <li style="border:1px solid rgb(221, 221, 221);">
                        <label for="net">Net</label>
                        <input type="number" id="net" name="net" step="0.01" maxlength="3" min="0.01" max="999"
                            disabled>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    <script> sortList("openProjects"); sortList("closedProjects");</script>

</body>

</html>